/* navgation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}
/* Home section */
 #home{
     padding: 3px 28px;
     height: 370px;
}
#home::before{
     height: 480px;
}
#home p{
    font-size: 13px;
}
/* information section  */

#info{
    flex-direction: column; 
}

#info.box{
     padding: 14px;
     margin: 2px 0px;
     margin-bottom: 20px;
}

/* contact section  */
#contact-box{
    width: 80%;
}


/* utility classes */
.h-first{
    font-size: 26px;
}
.h-first{
    font-size: 26px;
}
.btn{
    font-size: 26px;
    padding: 4px 8px;
}
